
<!--<div style="background-color: white">-->
<!--  <h1>JOb </h1>-->
<!--  <pre>{{id}}</pre>-->
<!--  <pre>{{oneJobData | json}}</pre>-->
<!--</div>-->
<div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFill id="jobDetail-div">

  <div fxLayout="row" fxFlex="40" class="mr-1" id ="jobBill-div">
    <div fxLayout="column" fxFlex="20" ></div>
    <div fxLayout="column" fxFlex="60" style="background-color: white" id="bill-div">
      <!--      <h2 style="text-align: center ">Job ID</h2>-->
      <mat-card class="ml-2 mt-2">
        <div class="form-container">

          <div class="container" *ngIf="oneJobData" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <!--              <h2 class="m-2" style="text-align: center ">Job ID: {{job_number}}</h2>-->
            <!--              <h2 class="m-2" style="text-align: center ">Challan No: {{job_number}}</h2>-->
            <!--              <div>-->
            <!--                <div fxFlex="50">Date :</div>-->
            <!--                <div fxFlex="50">DD :</div>-->
            <!--              </div>-->
            <table style=" border: none; width: 100%" class="table1">


              <tbody>
              <tr>
                <th colspan="8" style="text-align: center ; padding-left: 2px;padding-right: 2px;">Job ID : {{job_number}}</th>
              </tr>
              <tr>
                <td>Challan No :</td>
                <td colspan="6">{{oneJobData.order_number}}</td>
                <!-- <td></td>
                <td colspan="2"></td>
                <td></td>
                <td colspan="2"></td> -->
              </tr>
              <tr>
                <td>Date :</td>
                <td colspan="2">{{oneJobData.date}}</td>
                <td>DD :</td>
                <td colspan="2">{{oneJobData.date_of_delivery}}</td>
                <td></td>
                <td colspan="2"></td>
              </tr>
              <tr>
                <td>Model :</td>
                <td colspan="2"><b>{{oneJobData.model_number}}</b></td>
                <td>Pcs :</td>
                <td colspan="2"><b>{{oneJobData.quantity}}</b></td>
                <td>Size :</td>
                <td colspan="2"><b>{{oneJobData.size}}</b></td>
              </tr>
              </tbody>
            </table>





            <table style="width : 100%;"  *ngIf="totalData">
              <tbody>
              <tr>
                <td colspan="2" class="col-6">Thokai :</td>
                <td colspan="2" class="col-6">Tonch : {{oneJobData.material_name}}</td>
              </tr>
              <tr>
                <td colspan="2" class="col-6">Ring W. :</td>
                <td colspan="2" class="col-6">A Wt. :</td>
              </tr>
              <tr>
                <td colspan="2" class="col-6">Mina :</td>
                <td colspan="2" class="col-6">Forming :</td>
              </tr>
              <tr>
                <td colspan="2" class="col-6">M.C. :</td>
                <td colspan="2" class="col-6">Gold : {{totalData[0] ? totalData[0].total : 0}} </td>
              </tr>
              <tr>
                <td colspan="2" class="col-6">H.M.C :</td>
                <td colspan="2" class="col-6">RGW- :</td>
              </tr>
              <tr>
                <td colspan="2" class="col-6">H.C. :</td>
                <td colspan="2" class="col-6">PWt. :</td>
              </tr>
              <tr>
                <td colspan="2" class="col-6">Polish :</td>
                <td colspan="2" class="col-6">NGR- :</td>
              </tr>
              <tr>
                <td colspan="2" class="col-6">Dal: {{totalData[2] ? totalData[2].total : 0}}</td>
                <td colspan="2" class="col-6">Pan+ : {{totalData[4] ? totalData[4].total : 0}}</td>
              </tr>
              <tr>
                <td colspan="2" class="col-6">Bnz : {{totalData[7] ? totalData[7].total : 0}}</td>
                <td colspan="2" class="col-6">PLoss+ :{{oneJobData.p_loss}}</td>
              </tr>
              <tr>
                <td colspan="2" class="col-6">Bati No :</td>
                <td colspan="2" class="col-6">FG Wt. =</td>
              </tr>
              <tr>
                <td colspan="2" class="col-6"></td>
                <td colspan="2" class="col-6">B. Wt. :</td>
              </tr>
              </tbody>
            </table>
            <label>Karigarh :<b>{{karigarhName}}</b> </label>
            <label>User : {{userData.personName}}</label>
            <label>POS :</label>
            <label>Time :</label>
          </div>

        </div>
      </mat-card>
    </div>
    <div fxLayout="column" fxFlex="20"></div>


  </div>

  <div fxLayout="column" fxFlex="60" class="mr-1" id ="jobTask-div" style="background-color: #e8af0a" >
    <div class="m-2">
      <button type="button"  class="btn btn-warning" [routerLink]="['./goldSubmit']">Gold Submit</button>
      <button type="button"  class="btn btn-primary" [routerLink]="['./goldReturn']">Gold Return</button>
      <button type="button" class="btn btn-warning" [routerLink]="['./dalSubmit']">Dal Submit</button>
      <button type="button" class="btn btn-primary" [routerLink]="['./dalReturn']">Dal Return</button>
      <button type="button" class="btn btn-warning" [routerLink]="['./panSubmit']">Pan Submit</button>
      <button type="button" class="btn btn-primary" [routerLink]="['./panReturn']">Pan Return</button>
      <button type="button" class="btn btn-warning" [routerLink]="['./nitricReturn']">Nitric Return</button>
      <button type="button" class="btn btn-primary" [routerLink]="['./bronzeSubmit']">Bronze Submit</button>

<!--      <a [routerLink]="['./tracks']">Tracks</a> |-->
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
