<div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFill id="purchase-div">
  <div fxLayout="column" fxFlex="40" class="mr-1">
    <div id="left-details">
      <mat-card class="ml-2 mt-2 form-mat-card" >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>
            <div fxLayout="row" fxLayoutAlign="end center" fxFlexFill>
              Purchase Entry
            </div>
          </mat-card-title>
        </mat-card-header>
        <div class="form-container">
          <form [formGroup] = transactionMasterForm>
            <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
              <!--Transaction Date and Transaction Number-->
              <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                <!--Transaction Date-->
                <mat-form-field class="example-full-width" fxFlex="40">
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="picker" (dateChange)="handleTransactionMasterDateChange($event)" formControlName="transaction_date" >
                  <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker ></mat-datepicker>
                </mat-form-field>
                <!--Transaction Number or Bill Number-->
                <mat-form-field fxFlex="40">
                  <input matInput placeholder="Invoice" formControlName="transaction_number">
                </mat-form-field>
              </div>
            </div>
          </form>
          <form [formGroup] = transactionDetailForm>
            <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
              <!--Transaction Date and Transaction Number-->
              <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                <!--Vendors list-->
                <mat-form-field fxFlex="80">
                  <mat-label>Vendor Name</mat-label>
                  <mat-select  formControlName="ledger_id">
                    <mat-option *ngFor="let customer of customerList" [value]="customer.id">
                      {{customer.ledger_name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </form>
          <!--        purchase details form-->
          <form [formGroup] = saleDetailForm>
            <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
              <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                <form [formGroup] = temporaryForm>
                  <mat-form-field fxFlex="80">
                    <mat-label>Product category</mat-label>
                    <mat-select  (selectionChange)="selectProductsByCategory($event)" formControlName="product_category_id">
                      <mat-option *ngFor="let category of productCategoryList" [value]="category.id">
                        {{category.category_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </form>
                <mat-form-field fxFlex="40" *ngIf="productListByCategory.length>0">
                  <mat-label>Product</mat-label>
                  <mat-select formControlName="product_id">
                    <mat-option *ngFor="let product of productListByCategory" [value]="product.id">
                      {{product.product_name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">

              </div>
            </div>
          </form>
          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0" >

          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div fxLayout="column" fxFlex="60" class="mr-1">
  </div>
</div>

<!--This is developer div-->
<div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-between stretch"  id="developer-div" *ngIf="true">
  <div fxLayout="column" fxFlex="25" class="mr-1">
    <pre>

    </pre>

    <pre>

    </pre>
  </div>
  <div fxLayout="column" fxFlex="25" class="mr-1">

  </div>

</div>
