<div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFill id="purchase-div">
  <div fxLayout="column" fxFlex="40" class="mr-1">
    <div id="left-details">
      <mat-card class="ml-2 mt-2 form-mat-card" >
      <div class="form-container">
        <form [formGroup] = transactionMaster>
          <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <!--Transaction Date and Transaction Number-->
            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
              <!--Transaction Date-->
              <mat-form-field class="example-full-width" fxFlex="40">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="transaction_date">
                <mat-datepicker-toggle matSuffix [for]="picker">
                  <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <!--Transaction Number or Bill Number-->
              <mat-form-field fxFlex="40">
                <input matInput placeholder="Invoice" formControlName="transaction_number">
              </mat-form-field>
            </div>
          </div>
        </form>
        <form [formGroup] = transactionDetail>
          <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <!--Transaction Date and Transaction Number-->
            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
              <!--Vendors list-->
                <mat-form-field fxFlex="80">
                  <mat-label>Vendor Name</mat-label>
                  <mat-select  formControlName="ledger_id">
                    <mat-option *ngFor="let vendor of vendorList" [value]="vendor.id">
                      {{vendor.ledger_name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
          </div>
        </form>
<!--        purchase details form-->
        <form [formGroup] = purchaseDetailForm>
          <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
              <mat-form-field fxFlex="40">
                <mat-label>Product category</mat-label>
                <mat-select  (selectionChange)="doSomething($event)">
                  <mat-option *ngFor="let category of productCategoryList" [value]="category.id">
                    {{category.category_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </mat-card>
    </div>
  </div>
  <div fxLayout="column" fxFlex="60" class="mr-1">
   <div  id="right-details">

   </div>
  </div>
</div>

<!--This is developer div-->
<div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-between stretch"  id="developer-div">
  <div fxLayout="column" fxFlex="40" class="mr-1">
    <pre>
      purchaseMasterForm = {{purchaseMasterForm.value | json}}
      purchaseDetailForm = {{purchaseDetailForm.value | json}}
    </pre>
  </div>
  <div fxLayout="column" fxFlex="60" class="mr-1">
    <pre>
      transactionMaster = {{transactionMaster.value | json}}
      transactionDetail = {{transactionDetail.value | json}}

      productList={{productList | json}}
    </pre>
  </div>
</div>


