<div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFill id="purchase-div">
  <div fxLayout="column" fxFlex="40" class="mr-1">
    <div id="left-details">
      <mat-card class="ml-2 mt-2 form-mat-card" >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>
            <div fxLayout="row" fxLayoutAlign="end center" fxFlexFill>
              Purchase Entry
            </div>
          </mat-card-title>
        </mat-card-header>
        <div class="form-container">
          <form [formGroup] = transactionMasterForm>
            <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
              <!--Transaction Date and Transaction Number-->
              <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                <!--Transaction Date-->
                <mat-form-field class="example-full-width" fxFlex="40">
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="picker" (dateChange)="handleTransactionMasterDateChange($event)" formControlName="transaction_date" >
                  <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker ></mat-datepicker>
                </mat-form-field>
                <!--Transaction Number or Bill Number-->
                <mat-form-field fxFlex="40">
                  <input matInput placeholder="Invoice" formControlName="transaction_number">
                </mat-form-field>
              </div>
            </div>
          </form>
          <form [formGroup] = transactionDetailForm>
            <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
              <!--Transaction Date and Transaction Number-->
              <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                <!--Vendors list-->
                <mat-form-field fxFlex="80">
                  <mat-label>Vendor Name</mat-label>
                  <mat-select  formControlName="ledger_id">
                    <mat-option *ngFor="let vendor of vendorList" [value]="vendor.id">
                      {{vendor.ledger_name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </form>
          <!--        purchase details form-->
          <form [formGroup] = purchaseDetailForm>
            <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
              <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                <form [formGroup] = temporaryForm>
                  <mat-form-field fxFlex="80">
                    <mat-label>Product category</mat-label>
                    <mat-select  (selectionChange)="selectProductsByCategory($event)" formControlName="product_category_id">
                      <mat-option *ngFor="let category of productCategoryList" [value]="category.id">
                        {{category.category_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </form>
                <mat-form-field fxFlex="40" *ngIf="productListByCategory.length>0">
                  <mat-label>Product</mat-label>
                  <mat-select formControlName="product_id">
                    <mat-option *ngFor="let product of productListByCategory" [value]="product.id">
                      {{product.product_name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                <mat-form-field fxFlex="15">
                  <input matInput type="number" placeholder="Quantity" type="number" formControlName="quantity" (change)="getAmount()" class="text-right">
                </mat-form-field>

                <mat-form-field fxFlex="10">
                  <mat-label>Unit</mat-label>
                  <mat-select formControlName="unit_id">
                    <mat-option *ngFor="let unit of unitList" [value]="unit.id">
                      {{unit.unit_name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex="15">
                  <input matInput type="number" placeholder="price" formControlName="price" (change)="getAmount()" class="text-right">
                </mat-form-field>

                <mat-form-field fxFlex="10">
                  <input matInput type="input" placeholder="discount" formControlName="discount" (change)="getAmount()" class="text-right">
                </mat-form-field>
                <mat-form-field fxFlex="20">
                  <input matInput type="number" placeholder="Total" [value]="purchaseAmount" readonly class="text-right">
                </mat-form-field>
              </div>
            </div>
          </form>
          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0" >
            <button mat-button (click)="addPurchase()" [disabled]="!isValidPurchasedForm()"  mat-stroked-button>{{editableItemIndex === -1? "Add": "Update"}}</button>
            <button mat-button (click)="clearForm()"  mat-stroked-button>Clear</button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div fxLayout="column" fxFlex="60" class="mr-1">
    <div  id="right-details">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>
            <div>
              <button mat-button (click)="setCurrentTab(1)"  mat-stroked-button>Purchase Details</button>
              <button mat-button (click)="setCurrentTab(2)"  mat-stroked-button>Purchase List</button>
              <button mat-button (click)="setCurrentTab(3)"  mat-stroked-button>Purchase Bill</button>
            </div>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content *ngIf="isCurrentTab(1)" id="purchase-details">
          <div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFill id="vendor-div">
            <!--  Left Side-->
            <div fxLayout="column" fxFlex="60" class="mr-1">

            </div>
            <!--  Right Side-->
            <div fxFlex="40" class="vendor-list">

            </div>
          </div>
          <div id="purchase-detail-area" *ngIf="totalPurchaseAmount>0">
            Invoice Number: {{transactionMasterForm.value.transaction_number}}
            <table class="table" id="purchase-table">
              <thead>
              <tr>
                <th class="w-5">SL.</th>
                <th class="w-25">Product Name</th>
                <th class="w-15">Quantity</th>
                <th class="w-15">Price</th>
                <th class="w-15">Disc</th>
                <th class="w-15">Amount</th>
                <th class="w-10" colspan="1">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr [ngStyle]="getBackgroundColor(indexOfElement)" *ngFor="let item of purchaseDetails;let indexOfElement = index;">

                <td class="text-left" >{{indexOfElement+1}}</td>
                <td class="text-left" >{{item.product.product_name}}</td>
                <td class="text-right">{{item.quantity}} {{item.unit.unit_name}}</td>
                <td class="text-right">{{item.price | currency:"&#8377; "}}</td>
                <td class="text-right">{{item.discount | currency:"&#8377; "}}</td>
                <td class="text-right">{{item.quantity*item.price - item.discount | currency:"&#8377; "}}</td>
                <td>
                  <button mat-icon-button color="primary" aria-label="Edit Product" (click)="editCurrentItem(item)" *ngIf="editableItemIndex != indexOfElement">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" aria-label="Edit Product" (click)="cancelEditCurrentItem(item)" *ngIf="editableItemIndex == indexOfElement">
                    <mat-icon>restore</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" aria-label="Delete" (click)="deleteCurrentItem(item)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <td class="text-left" colspan="2"></td>
                <td class="text-left" colspan="3">Total</td>
                <td class="text-right">{{totalPurchaseAmount | currency:"&#8377; "}}</td>
              </tr>
              <tr>
                <td class="text-left" colspan="2"></td>
                <td class="text-left" colspan="3">Less: Discount Received</td>
                <td class="text-right">
                  <form [formGroup] = purchaseMasterForm>
                    <input matInput type="number" placeholder="Bill Discount Received" formControlName="discount"  class="text-right">
                  </form>
                </td>
              </tr>
              <tr>
                <td class="text-left" colspan="2"></td>
                <td class="text-left" colspan="3">Rounded Off</td>
                <td class="text-right">{{purchaseMaster.round_off | currency:"&#8377; "}}</td>
              </tr>
              <tr>
                <td class="text-left" colspan="2"></td>
                <td class="text-left" colspan="3">Final Bill</td>
                <td class="text-right">{{(totalPurchaseAmount - purchaseMasterForm.value.discount+ purchaseMaster.round_off ) | currency:"&#8377; "}}</td>
              </tr>
              </tfoot>
            </table>
            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="10px" fxLayoutGap.xs="0" >
              <button mat-button (click)="cancelPurchaseDetails()"   mat-stroked-button>Delete all</button>
              <button mat-button (click)="savePurchase()" [disabled]="false"  mat-stroked-button>Save Purchase</button>
            </div>
          </div>
        </mat-card-content>
        <mat-card-content *ngIf="isCurrentTab(2)" id="purchase-vouchers">
          <h1>Purchase List</h1>
          <app-purchase-list></app-purchase-list>
        </mat-card-content>
        <!--Purchase bill-->
        <mat-card-content *ngIf="isCurrentTab(3)" id="purchase-bill">
          <div fxLayout.xs="column" fxLayout="column" fxLayoutAlign="space-between stretch" fxFlexFill>
            <div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFill id="printable-purchase-bill">
              <table class="table">
                <thead>
                <tr>
                  <th colspan="2">
                    <div>{{purchaseTransactionDetail.credit_transaction_details[0].ledger.billing_name}}</div>
                    <div>{{purchaseTransactionDetail.credit_transaction_details[0].ledger.state}}</div>
                    <div>{{purchaseTransactionDetail.credit_transaction_details[0].ledger.email}}</div>
                    <div>{{purchaseTransactionDetail.credit_transaction_details[0].ledger.mobile1}}</div>
                    <div>{{purchaseTransactionDetail.credit_transaction_details[0].ledger.mobile2}}</div>
                  </th>
                  <th colspan="2">
                    <qrcode  [qrdata]="myAngularxQrCode" [width]="100" [errorCorrectionLevel]="'M'"></qrcode>
                  </th>
                  <th colspan="2">
                    <div>Bill No. : {{purchaseTransactionDetail.transaction_number}}</div>
                    <div>Date : {{purchaseTransactionDetail.transaction_date}}</div>
                  </th>
                </tr>
                <tr>
                  <th class="w-5">SL.</th>
                  <th class="w-50">Product Name</th>
                  <th class="w-10">Quantity</th>
                  <th class="w-10">Price</th>
                  <th class="w-10">Disc</th>
                  <th class="w-10">Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr  *ngFor="let item of purchaseTransactionDetail.purchase_master.purchase_details;let indexOfElement = index;">
                  <td class="text-left" >{{indexOfElement+1}}</td>
                  <td class="text-left" >{{item.product.product_name}}</td>
                  <td class="text-right">{{item.quantity}} {{item.unit.unit_name}}</td>
                  <td class="text-right">{{item.price | currency:"&#8377; "}}</td>
                  <td class="text-right">{{item.discount | currency:"&#8377; "}}</td>
                  <td class="text-right">{{item.quantity*item.price - item.discount | currency:"&#8377; "}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <td class="text-center" colspan="5">Total</td>
                  <td class="text-right">{{purchaseTransactionDetail.total_amount | currency:"&#8377; "}}</td>
                </tr>
                <tr>
                  <td colspan="3">In Words: Rupees {{getNumberToWords(purchaseTransactionDetail.total_amount)}} only</td>
                  <td colspan="3">
                    <ngx-barcode [bc-value]="purchaseTransactionDetail.transaction_number" [bc-height]="30" [bc-display-value]="true"></ngx-barcode>
                  </td>
                </tr>
                </tfoot>
              </table>
            </div>
            <div fxLayout.xs="column" fxLayout="row" fxFlexFill>
              <div fxFlex="10" >
                <button
                  mat-stroked-button

                  styleSheetFile="assets/print_style/purchase_bill/a4.css"
                  printSectionId="printable-purchase-bill"
                  ngxPrint><mat-icon>print</mat-icon></button>
              </div>
              <div fxFlex="10">
                <button (click)="editPurchase()" mat-button>Edit this Purchase</button>
              </div>
            </div>
          </div>
        </mat-card-content>

        <mat-card-actions>
          <!--         <button mat-button>LIKE</button>-->
          <!--         <button mat-button>SHARE</button>-->
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<!--This is developer div-->
<div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-between stretch"  id="developer-div" *ngIf="true">
  <div fxLayout="column" fxFlex="25" class="mr-1">
    <pre>
      transactionMasterForm={{transactionMasterForm.valid | json}}
      transactionMasterForm={{transactionDetailForm.valid | json}}
      transactionMasterForm={{purchaseMasterForm.valid | json}}
      transactionMasterForm={{purchaseDetailForm.valid | json}}
    </pre>

    <pre>
      purchaseMaster = {{purchaseMaster | json}}
      purchaseMasterForm = {{purchaseMasterForm.value | json}}
    </pre>
  </div>
  <div fxLayout="column" fxFlex="25" class="mr-1">
    purchaseDetails={{purchaseDetailForm.valid}}
    <pre>
      purchaseDetailForm = {{purchaseDetailForm.value | json}}
    </pre>
    <pre>
      purchaseDetails = {{purchaseDetails | json}}
    </pre>
  </div>
  <!--  <div fxLayout="column" fxFlex="25" class="mr-1">-->
  <!--    transactionMaster={{transactionMasterForm.valid}}-->
  <!--    <pre>-->
  <!--      transactionMaster = {{transactionMaster | json}}-->
  <!--    </pre>-->
  <!--  </div>-->
  <!--  <div fxLayout="column" fxFlex="25" class="mr-1">-->
  <!--    transactionDetails={{transactionDetailForm.valid}}-->
  <!--    <pre>-->
  <!--      transactionDetails = {{transactionDetails | json}}-->
  <!--    </pre>-->
  <!--  </div>-->
</div>


