

<table class="table" id="sale-list-table">
  <thead>
  <tr>
    <th>SL.</th>
    <th>Date</th>
    <th>Bill Number</th>
    <th>Customer</th>
    <th>Amount</th>
    <th>Click here</th>
  </tr>
  </thead>
  <tbody>
  <tr  *ngFor="let item of saleVouchers ;let indexOfelement = index;">

    <td class="text-left" >{{indexOfelement+1}}</td>
    <td class="text-left" >{{item.formatted_transaction_date}}</td>
    <td class="text-right">{{item.transaction_number}}</td>
    <td class="text-right">{{item.ledger_name}}</td>
    <td class="text-right">{{item.bill_amount | currency:"&#8377; "}}</td>
    <td class="text-right">
      <button mat-button (click)="getSaleInfoById(item.id)" mat-stroked-button>Details</button>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
  </tr>
  </tfoot>
</table>

